.idea/
node_modules/
.vscode/
target/
build/
dist/
.DS_Store
coverage/
.env
db.properties
Thumbs.db
cmake-build-debug
config.xml
/internal/llm/deepfloyd_env/*
!/internal/llm/deepfloyd_env/.keep


# Ignore all files under working
working/*
!working/.gitkeep
!working/storyImages/.gitkeep
inkwell
.log
/logs/
/qodana.yaml
